<div class="footer">
    <section>
        <p>
            © 2013–2024 Signal, a 501c3 nonprofit.
Signal is a registered trademark in the United States and other countries. <br>
For media inquiries, contact <a href="press@signal.org">{{email}}</a>
        </p>
    </section>
    <section>
        <h3>
            Organization
        </h3>
        <ul>
            <li>Donate</li>
            <li>Careers</li>
            <li>Blog</li>
            <li>Terms & Privacy Policy</li>
        </ul>
    </section>
    <section>
        <h3>
            Download
        </h3>
        <ul>
            <li>Android</li>
            <li>iPhone & iPad</li>
            <li>Windows</li>
            <li>Mac</li>
            <li>Linux</li>
        </ul>
    </section>
    <section>
        <h3>
            Social
        </h3>
        <ul>
            <li>GitHub</li>
            <li>Twitter</li>
            <li>Instagram</li>
        </ul>
    </section>
    <section>
        <h3>
            Help
        </h3>
        <ul>
            <li>Support</li>
            <li>Center</li>
            <li>Community</li>
        </ul>
    </section>
</div>
