.footer{
    background-color: #3C3744;
    color: #E9E9E9;
    display: flex;
    flex-direction: row;
    padding: 2rem;
    align-items: center;
    font-size: 1rem;
    line-height: 1.375rem;
    justify-content: center;
}

.footer h3{
    font-size: bold;
}

.footer ul{
    list-style-type:none;
}

.footer a{
    color:#E9E9E9;
    text-decoration:none;
}

.footer p{
    width: 40%;
}

@media screen and (max-width: 920px) {

    .footer{
        display: flex;
        flex-direction: column;
    } 

    @media screen and (max-width: 720px){
        .footer{
            font-size: 0.75rem;
            line-height: 1rem;
        }
    }
}