.links{
    list-style-type: none;
    display: flex;
}
.eachLink a{
    display:flex;
    justify-content: space-between;
    padding: 1rem;
    color:black;
    text-decoration:none;
}
.eachLink:hover a{
    color:blue;
}