@if (info != undefined && info.id % 2 === 0) {
    <div class="information-content">
        <img class="information-img" src={{info.img}} alt="">
        <div class="information-text">
            <h2 class="information-title">
                {{info.title}}
            </h2>
            <p class="information-description">
                {{info.description}}
            </p>
            <button class="information-button">
                Faire un don à Signal
            </button>
        </div>
    </div>
} @else{
    <div class="information-content">
        <div class="information-text">
            <h2 class="information-title">
                {{info?.title}}
            </h2>
            <p class="information-description">
                {{info?.description}}
            </p>
        </div>
        <img class="information-img" src={{info?.img}} alt="">
    </div>
}

