.information-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4rem;
}

.information-img{
    width:40%;
    height:auto;
    border-radius: 16px;
}

.information-text{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 30%;
}

.information-title{
    font-size: 2.5rem;
    line-height: 2.75rem;
}

.information-description{
    font-size: 1.25rem;
    line-height: 1.125rem;
}

.information-button{
    height:50px;
    width: 50%;
    background-color: white;
    color: rgb(24, 81, 180);
    font-size: 20px;
    border: 2px solid rgb(24, 81, 180);
    border-radius: 8px;
    /* padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px; */
}

.information-button:hover{
    cursor: pointer;
    color: #032767;
}

@media screen and (max-width: 920px) {

     

    @media screen and (max-width: 720px){
        .information-content{
            display: flex;
            flex-direction: column;
            padding:2rem;
        }
        .information-img{
            width:50%;
            height:auto;
            border-radius: 16px;
        }
        .information-title{
            font-size: 2rem;
            line-height: 2rem;
        }
        .information-description{
            font-size: 1rem;
            font-weight: 400;
            line-height: 1rem;
        }
        .information-button{
            width: 80%;
        }
    }
}