.feature{
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
    width: 70%;
}

.card {
    background-color: #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: auto; 
    height: auto; 
}

.card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}

.card h2, .card p {
    overflow: hidden; 
    white-space: wrap; 
}
@media screen and (max-width: 720px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
        width: 70%;
    }
}
