<div class="feature">
    <div class="wrapper">
        <div class="card" *ngFor="let event of events">
          <div class="card-content">
            <img src="{{ event.img }}" alt="image" />
            <h2>{{ event.title }}</h2>
            <p>{{ event.desc }}</p>
          </div>
        </div>
    </div>
</div>