<div class="about-security">
    <h2>Pourquoi utiliser Signal ?</h2>
    <p>Explorez ci-dessous afin de découvrir pourquoi Signal est une messagerie simple, puissante et sécurisée</p>
    <section class="about-security-share">
    <section class="about-security-description">
        <h2>Partager sans insécurité</h2>
        <p>Un chiffrement de bout en bout de pointe (propulsé par le protocole Signal à code source ouvert) assure la sécurité de vos conversations. Nous ne pouvons ni lire vos messages ni écouter vos appels, et personne d’autre que vous ne peut le faire. La confidentialité n’est pas proposée en option, c’est simplement la façon dont Signal fonctionne. Pour tous les messages, pour tous les appels, tout le temps.</p>
    </section>
        <img src="./assets/animation.png"/>
    </section>
</div>
