.about-security h2,
.about-security-share h2 {
  font-size: 2.5rem;
}
.about-security {
  margin-top: 3%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-security p {
  font-size: 1.25rem;
}

.about-security-share {
  display: flex;
  flex-direction: row;
  padding: 4rem;
}

.about-security-description {
  display: flex;
  flex-direction: column;
}

.about-security-share img {
  width: 50%;
  height: auto;
}

@media screen and (max-width: 720px) {
    .about-security-share {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
      }

    .about-security p {
        font-size: 1rem;
        text-align: center;
    }
    .about-security h2,
.about-security-share h2 {
  font-size: 2rem;
  text-align: center;
}
}
