<div class="banniere">
    <section class="texte">
        <h1>
            Exprimez-vous librement
        </h1>
        <p>
            Dites « Bonjour » à une expérience de messagerie différente. Un accent inattendu sur la confidentialité et la protection des données personnelles, combiné à toutes les fonctions auxquelles vous vous attendez.
        </p>
        <button>
            Obtenir Signal
        </button>
    </section>
    <section class="images">
        <img class="iphone" src="./assets/signal-iphone.png"/>
        <img class="android" src="./assets/signal-pixel.png"/>
    </section>
</div>
