.banniere{
    padding-top: 150px;
    background-color: rgb(137, 156, 247);
    display: flex;
    flex-direction: row;
}
.texte{
    margin-left: 0;
    margin-right: 0;
    padding:6rem;
}
.texte h1 {
    font-size: 3.75rem;
    width: 30rem;
}
.texte p{
    font-size: 1.25rem;
    width: 40rem;
}

.texte button{
    height:50px;
    background-color: white;
    color: rgb(24, 81, 180);
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
}

.texte button:hover{
    cursor: pointer;
    color: #032767;
}

.images{
    position: relative;
    height: 35rem;
    background-attachment: fixed;
}
.images img{
    height: 40rem;
    transform: rotate(20deg);
}

img.android{
    position:absolute;
    top: -120px;
    left: 250px;
    
}

@media screen and (max-width: 920px) {

    .banniere{
        display: flex;
        flex-direction: column;
    }
    

    @media screen and (max-width: 720px){
        .texte h1 {
            font-size: 2rem;
            width: 15rem;
        }

        .texte p{
            font-size: 1rem;
            width: 20rem;
        }

        .images{
            position: relative;
            height: 17.5rem;
            background-attachment: fixed;
        }
        .images img{
            height: 20rem;
            transform: rotate(20deg);
        }

        img.iphone{
            position: absolute;
            top: - 140px;
            right: 300px;
        }
        
        img.android{
            position:absolute;
            top: -90px;
            left: 260px;
        }
    }
}