<content class="navBar">
    <img class="logo" src="./assets/logo.png" alt="logo"/>
    <section class="navBar_menu">
        <div fxHide.lt-md>
            <div class="menu">
                <app-links></app-links>
        <img class="icone" src="./assets/twitter.svg" alt="logo"/>
        <img class="icone" src="./assets/instagram.svg" alt="logo"/>
        <img class="icone" src="./assets/solid_globe.svg" alt="logo"/>
            </div>
            
        </div>
        <div class="burgermenu"fxShow.lt-md>
            <app-burgermenu></app-burgermenu>
        </div>
    </section>
</content>
