.navBar{
    left: 0;
    /* position: fixed; */
    top: 0;
    right: 0;
    background-color: #ffffff;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:100%;
}
.navBar_menu{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.logo{
    width: 10rem;
    height: auto;
    object-fit: contain;
}
.icone{
    width: 1.25rem;
    height: 1.25rem;
    object-fit: contain;
    padding: 1rem;
}
.burgermenu{
    visibility: hidden;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 920px){
    /* .navBar{
        width:max-content;
    } */
    .menu{
        visibility: hidden;
    }
    .burgermenu{
        visibility: visible;
    }
    .logo{
        width: 6rem;
        height: auto;
        object-fit: contain;
    }
}