/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

body{
    margin: 0;
}
h1,
h2,
h3,
p{
    font-family: "Inter", sans-serif;
}